body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Градиентный фон */
    color: #ffffff; /* Цвет текста */
    text-align: center;
    padding: 20px;
    margin: 0;
    height: 100vh; /* Занимает всю высоту экрана */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование содержимого */
}

h1 {
    font-size: 2.5em; /* Размер заголовка */
    margin-bottom: 20px;
}

button {
    background-color: #ffffff; /* Цвет фона кнопки */
    color: #6a11cb; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    margin: 10px;
    padding: 15px 30px; /* Увеличенные отступы */
    font-size: 18px; /* Размер шрифта */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Плавные переходы */
}

button:hover {
    background-color: #6a11cb; /* Цвет фона при наведении */
    color: #ffffff; /* Цвет текста при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

#quiz {
    margin-top: 20px;
    background-color: rgb(59 72 137 / 75%); /* Полупрозрачный фон для квиза */
    border-radius: 10px; /* Закругленные углы */
    padding: 20px; /* Отступы внутри блока */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Тень для блока */
}
